<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Lista de Pedidos</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<h3><a href="/menu" class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>Voltar</a></h3>
	
	
	
	<table> 
		<thead>
			<tr>
				<th>Cliente</th>
				<th>Email</th>
				<th>Data</th>
				<th>Serviço</th>
				<th>Animal</th>
				<th>Valor</th>
				<th>Deletar</th>
			</th>>
		</thead>
		<tbody>
			<tr th:each="pedido : ${pedidos}">
				<td><span th:text="${pedido.nome}"></span></td>
				<td><span th:text="${pedido.email}"></span></td>
				<td><span th:text="${pedido.data}"></span></td>
				<td><span th:text="${pedido.servico}"></span></td>
				<td><span th:text="${pedido.animal}"></span></td>
				<td><span th:text="${pedido.valor}"></span></td>
			</tr >
		</tbody>
	</table>
	
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>